# Copyright (c) 2023 ZMK
# SPDX-License-Identifier: MIT

if SHIELD_SYNTH_WAVE_LEFT

config ZMK_KEYBOARD_NAME
	default "Synth Wave"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD__SYNTH_WAVE_LEFT || SHIELD__SYNTH_WAVE_RIGHT

config ZMK_SPLIT
	default y

endif