/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &TABTAB &Qp Q &Wp W &Ep E &Rp R &Tp T            &kp Y   &kp U     &kp I   &kp O   &kp Pp P   &kp MINUS
                &LSHIFTIFT &Ap A &Sp S &Dp D &Fp F &Gp G             &Hp H   &Jp J     &Kp     &Lp L   &SEMICOLONLON    &SINGLE_QUOTEOTE
                &LCTRLTRL &Zp&kp Xp&kp Cp&kp Vp V &Bp B            &Np N&kp Mp  &kp KP_COMMA &kp KP_DOTDOT &SLASH SH &ESCESC
                            &kp B SP &LGUIGUI &kp TAB &kp SPA     &Qp&kp ENTERTER &LGUIGUI &RALTALT
           
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;N>;
        };
    };
};